<section class="about">
    <div>
        <h3>LITTLE ABOUT US</h3>
        <br>
        <img src="../../assets/warehouse-worker-copy.jpg"/>
        <p class="description">
            Product Management System is a Full-stack application developed using Java programming language, spring Boot and Angular. The main objective of this project is to manage products for a company or organization, and take care of sales and purchase of products. This project includes various modules and features to add, edit, view and delete products in the system database.</p>
    </div>
    <div class="follow">
        <h4>Follow Us</h4>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
        <a href="#">YouTube</a>
    </div>
</section>