<section class="home">
  <img src="../../assets/warehouse.jpg">
</section>
<p>
  Product Management System is a Full-stack application developed using Java programming language, spring Boot and Angular. The main objective of this project is to manage products for a company or organization, and take care of sales and purchase of products. This project includes various modules and features to add, edit, view and delete products in the system database.</p>
<p>
  The aim of is to have the right amount of stock for sale at all times. Good product management can help business owners know when its time to reorder materials and minimise cost at the same time
</p>
  